In [44]:
# Working with data:
import numpy as np
import pandas as pd  

# Convenience methods:
def rename_columns_to_tickers(self):                      
    return self.rename(columns=lambda c: str(symbols(c).symbol))

pd.DataFrame.rename_columns_to_tickers = rename_columns_to_tickers

In [2]:
## Question 1

In [61]:
data = get_pricing(['IRBT','ISRG','JNJ','SHY'], '2003-1-1', '2018-12-31', fields='close_price')
data = data.rename_columns_to_tickers()

In [62]:
data[0:3]

                           IRBT   ISRG     JNJ     SHY
2003-01-02 00:00:00+00:00   NaN  4.067  36.363  69.895
2003-01-03 00:00:00+00:00   NaN  4.067  37.377  69.903
2003-01-06 00:00:00+00:00   NaN  4.067  37.706  69.861

In [5]:
data[:3]

                           IRBT   ISRG     JNJ     SHY
2003-01-02 00:00:00+00:00   NaN  4.067  36.363  69.895
2003-01-03 00:00:00+00:00   NaN  4.067  37.377  69.903
2003-01-06 00:00:00+00:00   NaN  4.067  37.706  69.861

In [6]:
data['2003-1-1':'2003-1-6']

                           IRBT   ISRG     JNJ     SHY
2003-01-02 00:00:00+00:00   NaN  4.067  36.363  69.895
2003-01-03 00:00:00+00:00   NaN  4.067  37.377  69.903
2003-01-06 00:00:00+00:00   NaN  4.067  37.706  69.861

In [7]:
data[:'2003-1-6']

                           IRBT   ISRG     JNJ     SHY
2003-01-02 00:00:00+00:00   NaN  4.067  36.363  69.895
2003-01-03 00:00:00+00:00   NaN  4.067  37.377  69.903
2003-01-06 00:00:00+00:00   NaN  4.067  37.706  69.861

In [8]:
## Question 2
data.loc['2015-5-4','JNJ']

90.572000000000003

In [9]:
# Question 3
data.loc['2018-10','IRBT'].nsmallest(5)

2018-10-29 00:00:00+00:00    77.34
2018-10-26 00:00:00+00:00    79.74
2018-10-24 00:00:00+00:00    80.50
2018-10-30 00:00:00+00:00    80.67
2018-10-25 00:00:00+00:00    81.74
Name: IRBT, dtype: float64

In [63]:
# Question 4
r = data.pct_change()
r.ISRG.nlargest(5)

2007-07-20 00:00:00+00:00    0.323417
2009-07-23 00:00:00+00:00    0.268222
2005-07-27 00:00:00+00:00    0.263804
2004-07-27 00:00:00+00:00    0.252381
2005-10-26 00:00:00+00:00    0.251709
Name: ISRG, dtype: float64

In [11]:
# Question 5
r.loc['2017', 'ISRG'].nlargest(5)

2017-04-19 00:00:00+00:00    0.067356
2017-01-25 00:00:00+00:00    0.050621
2017-10-20 00:00:00+00:00    0.034515
2017-01-10 00:00:00+00:00    0.033008
2017-12-06 00:00:00+00:00    0.025954
Name: ISRG, dtype: float64

In [12]:
# Question 6
r[r.JNJ > 0.02].ISRG.mean()

0.018196163375278344

In [13]:
# Questino 7
r.add(1).cumprod().loc[:'2017'][-3:]

                               IRBT       ISRG       JNJ       SHY
2017-12-27 00:00:00+00:00  3.014501  90.508975  3.763413  1.178539
2017-12-28 00:00:00+00:00  2.974765  90.686009  3.761791  1.178611
2017-12-29 00:00:00+00:00  2.888889  89.741824  3.744411  1.179240

In [25]:
# Question 8
q = r.loc['2014-12-31':'2018-10']
q.add(1).cumprod().ISRG[-1]*50

148.63818889104351

In [15]:
# Question 9

In [16]:
r[['JNJ','ISRG']].mean(axis=1).add(1).cumprod()[-1]

29.183789621367239

In [27]:
# Question 10
r[r.IRBT < -0.2]

                               IRBT      ISRG       JNJ       SHY
2006-02-15 00:00:00+00:00 -0.227108 -0.000704  0.001021 -0.000124
2007-09-17 00:00:00+00:00 -0.227832 -0.007192 -0.004435 -0.000244
2012-02-09 00:00:00+00:00 -0.343342  0.000445 -0.005211 -0.000360
2018-02-08 00:00:00+00:00 -0.320968 -0.044586 -0.038499  0.000243

In [22]:
# Question 11
r.add(1).resample('M').agg('prod').sub(1).JNJ.nsmallest()

2009-02-28 00:00:00+00:00   -0.125377
2018-12-31 00:00:00+00:00   -0.119517
2008-10-31 00:00:00+00:00   -0.110273
2010-05-31 00:00:00+00:00   -0.085337
2013-08-31 00:00:00+00:00   -0.069604
Name: JNJ, dtype: float64

In [87]:
# Question 12
q = r[['IRBT']].loc['2010':'2015']
len(q)

1510

In [92]:
print(len(q[q.IRBT < -0.03]))
print(len(q[q.IRBT < -0.035]))

160
107

In [98]:
# Question 13
r_monthly = r.add(1).resample('M').agg('prod').sub(1)
rx_monthly = r_monthly.sub(r_monthly.SHY, axis = 0)

In [99]:
rx_monthly.std() * 12**0.5

IRBT    0.470116
ISRG    0.474716
JNJ     0.138653
SHY     0.000000
dtype: float64

In [109]:
# Question 14
r_daily   = r.loc['2008']
rx_daily = r_daily.sub(r_daily.SHY, axis = 0)
rx_daily.std() * 252**0.5

IRBT    0.736219
ISRG    0.749219
JNJ     0.302038
SHY     0.000000
dtype: float64

In [110]:
# Question 15
r_annual  = r.add(1).resample('A').agg('prod').sub(1)
rx_annual = r_annual.sub(r_annual.SHY, axis = 0)
rx_annual.mean()

IRBT    0.161662
ISRG    0.535063
JNJ     0.077564
SHY     0.000000
dtype: float64

In [111]:
t = pd.DataFrame()
t['mean_ret'] = rx_annual.mean()
t['vol']      = rx_monthly.std() * 12**0.5
t['Sharpe']   = t.mean_ret/t.vol
t

      mean_ret       vol    Sharpe
IRBT  0.161662  0.470116  0.343877
ISRG  0.535063  0.474716  1.127123
JNJ   0.077564  0.138653  0.559412
SHY   0.000000  0.000000       NaN

In [116]:
# Question 16
t.sum(axis=1)

IRBT    0.975656
ISRG    2.136902
JNJ     0.775630
SHY     0.000000
dtype: float64

In [118]:
# Question 17
r[:5]

                           IRBT      ISRG       JNJ       SHY
2003-01-02 00:00:00+00:00   NaN       NaN       NaN       NaN
2003-01-03 00:00:00+00:00   NaN  0.000000  0.027885  0.000114
2003-01-06 00:00:00+00:00   NaN  0.000000  0.008802 -0.000601
2003-01-07 00:00:00+00:00   NaN -0.023113 -0.022861  0.000730
2003-01-08 00:00:00+00:00   NaN -0.028442 -0.004831  0.000844

In [64]:
r['PF'] = np.where(r.shift().JNJ > 0, r.SHY, r.JNJ)

In [65]:
r

                               IRBT      ISRG       JNJ       SHY        PF
2003-01-02 00:00:00+00:00       NaN       NaN       NaN       NaN       NaN
2003-01-03 00:00:00+00:00       NaN  0.000000  0.027885  0.000114  0.027885
2003-01-06 00:00:00+00:00       NaN  0.000000  0.008802 -0.000601 -0.000601
2003-01-07 00:00:00+00:00       NaN -0.023113 -0.022861  0.000730  0.000730
2003-01-08 00:00:00+00:00       NaN -0.028442 -0.004831  0.000844 -0.004831
2003-01-09 00:00:00+00:00       NaN  0.010363  0.020291 -0.001815  0.020291
2003-01-10 00:00:00+00:00       NaN  0.028974  0.005640  0.000974  0.000974
2003-01-13 00:00:00+00:00       NaN -0.029903 -0.020122  0.000114  0.000114
2003-01-14 00:00:00+00:00       NaN  0.022348  0.007487  0.000372  0.007487
2003-01-15 00:00:00+00:00       NaN -0.030151 -0.024798  0.000729  0.000729
2003-01-16 00:00:00+00:00       NaN  0.117358 -0.005826  0.000243 -0.005826
2003-01-17 00:00:00+00:00       NaN  0.004637  0.001472 -0.000243  0.001472
2003-01-21 00:00:00+00:00       NaN  0.033926 -0.014781  0.001214  0.001214
2003-01-22 00:00:00+00:00       NaN -0.025223 -0.001689  0.000728 -0.001689
2003-01-23 00:00:00+00:00       NaN  0.030456  0.017086 -0.000599  0.017086
2003-01-24 00:00:00+00:00       NaN -0.022222 -0.023369 -0.000128 -0.000128
2003-01-27 00:00:00+00:00       NaN -0.075682 -0.026709  0.000000 -0.026709
2003-01-28 00:00:00+00:00       NaN  0.004918  0.017294  0.000243  0.017294
2003-01-29 00:00:00+00:00       NaN -0.003425 -0.010578 -0.000842 -0.000842
2003-01-30 00:00:00+00:00       NaN  0.055978 -0.016979  0.001214 -0.016979
2003-01-31 00:00:00+00:00       NaN -0.006510  0.040733 -0.000242  0.040733
2003-02-03 00:00:00+00:00       NaN -0.093611 -0.006514 -0.000585 -0.000585
2003-02-04 00:00:00+00:00       NaN  0.032791 -0.010319  0.000970 -0.010319
2003-02-05 00:00:00+00:00       NaN -0.021750 -0.011953 -0.000242 -0.011953
2003-02-06 00:00:00+00:00       NaN -0.011756  0.000787  0.000485  0.000787
2003-02-07 00:00:00+00:00       NaN  0.013706 -0.005942  0.000855  0.000855
2003-02-10 00:00:00+00:00       NaN  0.020408  0.004806 -0.000983  0.004806
2003-02-11 00:00:00+00:00       NaN -0.110000 -0.000758  0.000613  0.000613
2003-02-12 00:00:00+00:00       NaN -0.101124 -0.039196  0.000855 -0.039196
2003-02-13 00:00:00+00:00       NaN -0.031250  0.029829  0.000854  0.029829
...                             ...       ...       ...       ...       ...
2018-11-15 00:00:00+00:00  0.011240  0.030061  0.001318  0.000350  0.001318
2018-11-16 00:00:00+00:00  0.031900  0.009540  0.010725  0.000845  0.000845
2018-11-19 00:00:00+00:00 -0.042816 -0.069426  0.012121  0.000724  0.000724
2018-11-20 00:00:00+00:00 -0.004783  0.005616 -0.009402 -0.000241 -0.000241
2018-11-21 00:00:00+00:00  0.020579  0.013375 -0.030391  0.000000 -0.030391
2018-11-23 00:00:00+00:00  0.018945 -0.004454  0.002325  0.000121  0.002325
2018-11-26 00:00:00+00:00  0.011199  0.027924 -0.000636 -0.000241 -0.000241
2018-11-27 00:00:00+00:00 -0.060753 -0.012440  0.013728  0.000060  0.013728
2018-11-28 00:00:00+00:00  0.053234  0.050809  0.022616  0.000410  0.000410
2018-11-29 00:00:00+00:00  0.020326 -0.002317 -0.004437  0.000362  0.000362
2018-11-30 00:00:00+00:00  0.017258  0.018081  0.005074  0.000121  0.005074
2018-12-03 00:00:00+00:00  0.057179  0.034765 -0.002354 -0.000566 -0.000566
2018-12-04 00:00:00+00:00 -0.067855 -0.054586 -0.000650  0.000723 -0.000650
2018-12-06 00:00:00+00:00 -0.025611  0.000270 -0.001642  0.000843 -0.001642
2018-12-07 00:00:00+00:00 -0.009161 -0.053426 -0.003632  0.001071 -0.003632
2018-12-10 00:00:00+00:00  0.002312  0.013841 -0.000688  0.000000 -0.000688
2018-12-11 00:00:00+00:00 -0.028882  0.019996  0.008535 -0.000830  0.008535
2018-12-12 00:00:00+00:00  0.033812  0.015077  0.004573 -0.000120 -0.000120
2018-12-13 00:00:00+00:00 -0.041566 -0.007252  0.004076  0.000770  0.000770
2018-12-14 00:00:00+00:00 -0.013924 -0.039434 -0.101428  0.000662  0.000662
2018-12-17 00:00:00+00:00 -0.045139 -0.020069 -0.027636  0.000962 -0.027636
2018-12-18 00:00:00+00:00 -0.007030  0.000892  0.009912  0.000588  0.009912
2018-12-19 00:00:00+00:00 -0.008301 -0.021644 -0.021624  0.000120  0.000120
2018-12-20 00:00:00+00:00 -0.020310 -0.025534  0.004781 -0.000120  0.004781
2018-12-21 00:00:00+00:00 -0.050760 -0.031074 -0.001014  0.000720  0.000720
2018-12-24 00:00:00+00:00  0.005692 -0.024709 -0.039197  0.000840 -0.039197
2018-12-26 00:00:00+00:00  0.074888  0.064040  0.029338 -0.000479  0.029338
2018-12-27 00:00:00+00:00  0.011755  0.013927  0.005527  0.000839  0.000839
2018-12-28 00:00:00+00:00 -0.015854  0.005546 -0.000864  0.001078  0.001078
2018-12-31 00:00:00+00:00  0.029759  0.016524  0.014303  0.000598  0.014303

[4027 rows x 5 columns]

In [60]:
r.add(1).cumprod().PF[-1]

6.6072327825618382

In [46]:
data1 = get_pricing(['JNJ'], '2003-1-1', '2013-12-31', fields='open_price')
data1 = data1.rename_columns_to_tickers()

In [48]:
data1.head()

                              JNJ
2003-01-02 00:00:00+00:00  40.941
2003-01-03 00:00:00+00:00  42.262
2003-01-06 00:00:00+00:00  42.684
2003-01-07 00:00:00+00:00  43.092
2003-01-08 00:00:00+00:00  42.307

In [49]:
data.head()

                           IRBT   ISRG     JNJ     SHY
2003-01-02 00:00:00+00:00   NaN  4.067  36.363  69.895
2003-01-03 00:00:00+00:00   NaN  4.067  37.377  69.903
2003-01-06 00:00:00+00:00   NaN  4.067  37.706  69.861
2003-01-07 00:00:00+00:00   NaN  3.973  36.844  69.912
2003-01-08 00:00:00+00:00   NaN  3.860  36.666  69.971