In [1]:
## Question1
x = 'this'
type(x)

In [2]:
## Question2
5**4

625

In [4]:
## Question3
x = 10
y = 20
x = x - 5
y -= 10
print(x)
print(y)

5
10

In [5]:
## Question4
x = [1,2,3]
y = [2,3,4]
x + y

[1, 2, 3, 2, 3, 4]

In [6]:
## Questino5
x = 100
x <50

False

In [7]:
## Question6
x = 100
y = x < 200
z = x > 200
print(type(y), type(z))

(<type 'int'>, <type 'bool'>, <type 'bool'>)

In [9]:
## Question7
x = 200

y = x > 100
print(y)

y = x>100 & x<180
print(y)

y = ((x>100) & (x<180))
print(y)

y = (x>100 & x<180)
print(y)

True
True
False
True

In [10]:
## Question8
x = 1 > 2
y = x + 1
print(y)

1

In [13]:
## Question9
print(True == 1)
print(False == 0)

True
True

In [14]:
## Question10
x = (1<2) * 10
y = (1>2) * 20
z = x + y
print(z)

10

In [16]:
## Question11
lists = [a for a in range(25,29)]
print(lists)

[25, 26, 27, 28]

In [17]:
## Question12
x = [5,6,7,8]
len(x)

4

In [20]:
## Question13
for i in range(2,6): 
    print(i)

2
3
4
5

In [21]:
## Question14
x = [1,2,3,4]
x[1:]

[2, 3, 4]

In [22]:
## Question15
x = 0
y = [1,2,3]
for i in y[1:]: 
    x += i
print(x)

5

In [23]:
## Question16
def add_this(x,y):
    return x + y
a = 5
b = 6
c = add_this(a,b)

In [30]:
## Question17
import pandas as pd
ages = [a for a in range(25,33)] 
variables = ['x', 'y', 'z']
t = pd.DataFrame(index = ages, columns=variables)


t.loc[25, 'x'] = 100

for a in ages[1:]:
    t.loc[a,'x'] = t.loc[a-1,'x'] * 1.1
    t.loc[a,'z'] = 2 * t.loc[a,'x']

t.loc[32, 'z']

389.7434200000003

In [31]:
## Question18
x = t.loc[30]
x

x    161.051
y        NaN
z    322.102
Name: 30, dtype: object