In [1]:
# Question 1
x = [3,9,10,11,5]
x[-3:]

[10, 11, 5]

In [2]:
# Question 2
import pandas as pd
t = pd.DataFrame(columns=['A','B','C','D'])
t

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [4]:
# Question 3
t = pd.DataFrame(index=[10, 20, 30, 40, 50], columns=['A','B','C','D'])
print(t)
print(type(t))

      A    B    C    D
10  NaN  NaN  NaN  NaN
20  NaN  NaN  NaN  NaN
30  NaN  NaN  NaN  NaN
40  NaN  NaN  NaN  NaN
50  NaN  NaN  NaN  NaN
<class 'pandas.core.frame.DataFrame'>

In [6]:
# Question 4
t.loc[20]

A    NaN
B    NaN
C    NaN
D    NaN
Name: 20, dtype: object

In [7]:
# Question 5
t.loc[:30]

      A    B    C    D
10  NaN  NaN  NaN  NaN
20  NaN  NaN  NaN  NaN
30  NaN  NaN  NaN  NaN

In [8]:
# Question 6
t[:3]

      A    B    C    D
10  NaN  NaN  NaN  NaN
20  NaN  NaN  NaN  NaN
30  NaN  NaN  NaN  NaN

In [10]:
# Question 7
print(t[['A']])
print(type(t[['A']]))

      A
10  NaN
20  NaN
30  NaN
40  NaN
50  NaN
<class 'pandas.core.frame.DataFrame'>

In [13]:
# Question 8
print(type(t[['B']]))
print(type(t['B']))
print(type(t.B))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [14]:
# Question 9 
t[:3][['A','C']]

      A    C
10  NaN  NaN
20  NaN  NaN
30  NaN  NaN

In [16]:
# Question 10
t[:3][['A', 'B']] = 10
t

C:\Users\Han\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Han\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
C:\Users\Han\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_array(key, value)

      A    B    C    D
10   10   10  NaN  NaN
20   10   10  NaN  NaN
30   10   10  NaN  NaN
40  NaN  NaN  NaN  NaN
50  NaN  NaN  NaN  NaN

In [ ]:
import numpy as np

In [24]:
def calc_income_tax(income):                # Income does not include dividends and capital gains
    ti = income - 24                        # Taxable income = income - deduction
    tax1 = ((ti > 0)       & (ti <= 19.050))  * (0        + 0.10 * (ti - 0))
    tax2 = ((ti > 19.050)  & (ti <= 77.400))  * (1.9050   + 0.12 * (ti - 19.050))
    tax3 = ((ti > 77.400)  & (ti <= 165.000)) * (8.9070   + 0.22 * (ti - 77.400))
    tax4 = ((ti > 165.000) & (ti <= 315.000)) * (28.1790  + 0.24 * (ti - 165.000))
    tax5 = ((ti > 315.000) & (ti <= 400.000)) * (64.1790  + 0.32 * (ti - 315.000))
    tax6 = ((ti > 400.000) & (ti <= 600.000)) * (91.3790  + 0.35 * (ti - 400.000))
    tax7 = ((ti > 600.000)                  ) * (119.3965 + 0.37 * (ti - 600.000))
    return tax1 + tax2 + tax3 + tax4 + tax5 + tax6 + tax7

In [25]:
def loop_over_all_ages(returns):
    
    account.iloc[0] = get_initial_account_value()
        
    for age in returns.index[1:]:
        
        # Inputs from tables
        account_last  = account.loc[age-1]
        market_return = returns.loc[age] 
        
        # Account values before we make any transfers and tax payments
        account_return = get_account_return(age, market_return)
        account_new = account_last * (1+account_return)             
        
        # Deposits / withdrawals: 
        deposit  = get_deposits(  age, account_new)                    
        withdraw = get_withdrawal(age, account_new)            
            
        # Tax
        income_tax = calc_income_tax(withdraw)
        
        # Update tables
        account .loc[age] = account_new + deposit - withdraw
        spending.loc[age] = withdraw - income_tax

In [56]:
def generate_empty_table():
    ages  = [a for a in range(23,101)]
    paths = ['p'+str(p) for p in range(1,1000)] # Need to have enough paths so the simulation converges
    return pd.DataFrame(index=ages, columns=paths)

def simulate_returns():
    expected_ret    = 0.06
    vol             = 0.2
    returns         = generate_empty_table()
    standard_normal = np.random.randn(len(returns.index), len(returns.columns))
    returns.loc[:]  = np.exp(expected_ret + vol * standard_normal) - 1    
    return returns

def get_initial_account_value(): 
    return 0

def get_account_return(age, market_return):
    w = 0.9 # 1 - age/100.0  # weight in stocks: we reduce the weight as we get older
    return w*market_return + (1-w)*0.02  # (1-w): weight in bonds

def get_deposits(age, value):        # value: our account values (one row of the table)
    if age == 24 :
        deposit = 40
    else :
        deposit = 40 * (1.02**(age-24))
#     if age <= 60:
#         deposit = value * 0 + 40
#     else:
#         deposit = value * 0
    return deposit  

def get_withdrawal(age, value):      # value: our account values (one row of the table)
        if age > 60:
            withdraw = value * 0.04
        else:
            withdraw = value * 0
        return withdraw

In [27]:
account  = generate_empty_table()
spending = generate_empty_table()
weights = generate_empty_table()

returns = simulate_returns()

loop_over_all_ages(returns)

In [28]:
# Question 11
account.loc[40]

p1      1652.22
p2      1032.26
p3      1078.08
p4       1222.8
p5      913.221
p6      1050.92
p7      785.412
p8      2114.66
p9      1037.71
p10     825.618
p11     636.213
p12     1694.01
p13     910.737
p14     856.413
p15     1382.27
p16     661.867
p17     847.105
p18     1050.22
p19     1619.87
p20     610.898
p21     586.982
p22     1110.17
p23     864.766
p24     1968.25
p25     1160.39
p26     549.569
p27     1010.78
p28     1234.48
p29     1081.05
p30     1752.81
         ...
p970    1171.19
p971    1794.98
p972    1704.42
p973    3040.38
p974    1115.15
p975    1439.71
p976    860.735
p977    580.646
p978    917.362
p979    504.831
p980     717.55
p981    1068.72
p982    1211.62
p983     910.64
p984    1024.54
p985    976.305
p986    2018.28
p987    873.555
p988    929.332
p989    1354.19
p990    827.482
p991      804.3
p992    1208.34
p993    1961.18
p994    1159.85
p995    1596.43
p996    1075.12
p997    1267.72
p998    1392.04
p999    1077.22
Name: 40, Length: 999, dtype: object

In [29]:
# Question 12
x = account.loc[40].quantile(0.6)
x

1149.5625268930223

In [32]:
# Question 13
x = account.loc[30].quantile(0.3)
print(x)

297.97359629450426

In [37]:
# Question 14
account  = generate_empty_table()
spending = generate_empty_table()
weights = generate_empty_table()

returns = simulate_returns()

loop_over_all_ages(returns)

account.loc[35].quantile(0.5)

834.2225931418863

In [42]:
# Question 15
account  = generate_empty_table()
spending = generate_empty_table()
weights = generate_empty_table()

returns = simulate_returns()

loop_over_all_ages(returns)

spending.loc[62].quantile(0.5)

182.90092130783447

In [46]:
# Question 16
account  = generate_empty_table()
spending = generate_empty_table()
weights = generate_empty_table()

returns = simulate_returns()

loop_over_all_ages(returns)

account.loc[55].quantile(0.05)

1168.9257365817393

In [49]:
# Question 17
account  = generate_empty_table()
spending = generate_empty_table()
weights = generate_empty_table()

returns = simulate_returns()

loop_over_all_ages(returns)

account.loc[55].quantile(0.05)

1969.8621158326491

In [51]:
# Question 18
account  = generate_empty_table()
spending = generate_empty_table()
weights = generate_empty_table()

returns = simulate_returns()

loop_over_all_ages(returns)

In [55]:
age = 75
# Inputs from tables
account_last  = account.loc[age-1]
market_return = returns.loc[age] 

# Account values before we make any transfers and tax payments
account_return = get_account_return(age, market_return)
account_new = account_last * (1+account_return)             

# Deposits / withdrawals: 
deposit  = get_deposits(  age, account_new)                    
withdraw = get_withdrawal(age, account_new)            

# Tax
income_tax = calc_income_tax(withdraw)

print(income_tax.quantile(0.5))

23.846897530895248

In [58]:
# Question 19
account  = generate_empty_table()
spending = generate_empty_table()
weights = generate_empty_table()

returns = simulate_returns()

loop_over_all_ages(returns)

spending.loc[65].quantile(0.4)

220.77258520167157